<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="close()">back</ion-button>
    </ion-buttons>
    <ion-title>Audio Recording</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  Audio Recording...

  <ion-buttons>
    <ion-button fill="clear" (click)="startRecording()">start</ion-button>
    <ion-button fill="clear" (click)="stopRecording()">stop</ion-button>
    <ion-button fill="clear" (click)="playRecording()">play</ion-button>
  </ion-buttons>


</ion-content>
