ion-thumbnail.ios.hydrated {
  width: 450px;
  margin-top: 51px;
  margin-bottom: 10px;
}

form {
  ion-button {
    margin-top: 25px;
  }

  ion-list {
    ion-item {
      ion-buttons {
        ion-button {
          ion-text {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
