<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="close()">back</ion-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <!-- mein camera -->
  <ion-grid>
    <ion-row>
      <video #video id="video" autoplay></video>
    </ion-row>
    <ion-row>
            <canvas #canvas id="canvas" width="200" height="200" hidden></canvas>
        </ion-row>
  </ion-grid>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="center" (click)="capture$()">Take Photo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
