<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Information</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">User Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-user-form></app-user-form>
    </ion-card-content>

  </ion-card>

</ion-content>
